.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
  }
  
  
  .App-header {
    background-color: #eaecef;
    padding: 20px;
    color: white;
  }

  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  